{
    "profiles": [
        {
            "name": "profile name",
            "region": "us-west-1",
            "schedule": {
                "monday": {
                    "start": 9,
                    "stop": 19
                },
                "tuesday": {
                    "start": 9,
                    "stop": 19
                },
                "wednesday": {
                    "start": 9,
                    "stop": 19
                },
                "thursday": {
                    "start": 9,
                    "stop": 19
                },
                "friday": {
                    "start": 9,
                    "stop": 19
                },
                "saturday": {
                    "start": 9,
                    "stop": 19
                },
                "sunday": {
                    "start": 9,
                    "stop": 19
                }
            },
            "instance_tags": [
                "example-tag"
            ],
            "elb_names": [
                "example-tag-elb-name"
            ]
        }
    ]
}
